In [1]:
import pandas as pd

In [2]:
Provider_Data_25= pd.read_csv('../data/Inpatient_Rehabilitation_Facility_Provider_Data_Jun2025.csv')

In [3]:
Provider_Data_24=pd.read_csv('../data/Inpatient_Rehabilitation_Facility-Provider_Data_Sep2024.csv')

# Had to pull from September's quarterly data was not available until Quarter 3.

In [4]:
Provider_Data_23=pd.read_csv('../data/Inpatient_Rehabilitation_Facility-Provider_Data_Jun2023.csv')
# there is no data for 2023.  This measure was introduced in 2023, with reporting starting in Quarter 3 of 2024.

Filtering down to NC and discharge function measure

In [5]:
Provider_Data_25.head()

,CMS Certification Number (CCN),Provider Name,Address Line 1,Address Line 2,City/Town,State,ZIP Code,County/Parish,Telephone Number,CMS Region,Measure Code,Score,Footnote,Start Date,End Date,Measure Date Range
0,13025,ENCOMPASS HEALTH LAKESHORE REHABILITATION HOSP...,3800 RIDGEWAY DRIVE,-,BIRMINGHAM,AL,35209,Jefferson,(205) 868-2000,4,I_006_01_CI_LOWER,0.821,-,7/1/2023,6/30/2024,-
1,13025,ENCOMPASS HEALTH LAKESHORE REHABILITATION HOSP...,3800 RIDGEWAY DRIVE,-,BIRMINGHAM,AL,35209,Jefferson,(205) 868-2000,4,I_006_01_CI_UPPER,4.213,-,7/1/2023,6/30/2024,-
2,13025,ENCOMPASS HEALTH LAKESHORE REHABILITATION HOSP...,3800 RIDGEWAY DRIVE,-,BIRMINGHAM,AL,35209,Jefferson,(205) 868-2000,4,I_006_01_COMP_PERF,No Different than the National Benchmark,-,7/1/2023,6/30/2024,-
3,13025,ENCOMPASS HEALTH LAKESHORE REHABILITATION HOSP...,3800 RIDGEWAY DRIVE,-,BIRMINGHAM,AL,35209,Jefferson,(205) 868-2000,4,I_006_01_DOPC_DAYS,"2,743",-,7/1/2023,6/30/2024,-
4,13025,ENCOMPASS HEALTH LAKESHORE REHABILITATION HOSP...,3800 RIDGEWAY DRIVE,-,BIRMINGHAM,AL,35209,Jefferson,(205) 868-2000,4,I_006_01_ELIGCASES,2.962,-,7/1/2023,6/30/2024,-

In [6]:
DC_Function_25_NC= Provider_Data_25.loc[(Provider_Data_25['State']=='NC') & (Provider_Data_25['Measure Code']=='I_026_01_OBS_RATE')].drop(columns=['Address Line 1','Address Line 2', 'City/Town','ZIP Code','Telephone Number','CMS Region','Footnote','Start Date','End Date', 'Measure Date Range']).reset_index(drop=True)
DC_Function_25_NC.head()

,CMS Certification Number (CCN),Provider Name,State,County/Parish,Measure Code,Score
0,343025,CAREPARTNERS REHABILITATION HOSPITAL,NC,Buncombe,I_026_01_OBS_RATE,69.04
1,343026,CAROLINAS REHABILITATION,NC,Mecklenburg,I_026_01_OBS_RATE,45.88
2,343027,NOVANT HEALTH REHABILITATION HOSPITAL,NC,Forsyth,I_026_01_OBS_RATE,71.23
3,34T004,HIGH POINT REGIONAL HOSPITAL,NC,Guilford,I_026_01_OBS_RATE,54.37
4,34T008,CENTER FOR INPATIENT REHAB,NC,Scotland,I_026_01_OBS_RATE,Not Available

In [7]:
DC_Function_25_NC=DC_Function_25_NC.drop(columns=['CMS Certification Number (CCN)','Provider Name','State'])

In [8]:
DC_Function_25_NC=DC_Function_25_NC.rename(columns={'County/Parish':'County','Score':'2025 Score'})
DC_Function_25_NC.head()

        County       Measure Code     2025 Score
0     Buncombe  I_026_01_OBS_RATE          69.04
1  Mecklenburg  I_026_01_OBS_RATE          45.88
2      Forsyth  I_026_01_OBS_RATE          71.23
3     Guilford  I_026_01_OBS_RATE          54.37
4     Scotland  I_026_01_OBS_RATE  Not Available

In [9]:
rows_to_drop=[]

for index, row in DC_Function_25_NC.iterrows():
    if row['2025 Score']=='Not Available':
        rows_to_drop.append(index)

DC_Function_25_NC.drop(rows_to_drop, inplace=True)

In [10]:
DC_Function_25_NC

         County       Measure Code 2025 Score
0      Buncombe  I_026_01_OBS_RATE      69.04
1   Mecklenburg  I_026_01_OBS_RATE      45.88
2       Forsyth  I_026_01_OBS_RATE      71.23
3      Guilford  I_026_01_OBS_RATE      54.37
6         Rowan  I_026_01_OBS_RATE      39.09
7        Lenoir  I_026_01_OBS_RATE      39.46
8    Cumberland  I_026_01_OBS_RATE       31.8
9          Pitt  I_026_01_OBS_RATE      23.79
10      Forsyth  I_026_01_OBS_RATE      49.23
11  Mecklenburg  I_026_01_OBS_RATE      65.32
12       Orange  I_026_01_OBS_RATE       28.4
13         Wake  I_026_01_OBS_RATE      30.46
14     Guilford  I_026_01_OBS_RATE      49.45
16  Mecklenburg  I_026_01_OBS_RATE      47.26
18        Moore  I_026_01_OBS_RATE      46.99
19      Catawba  I_026_01_OBS_RATE      58.46
20       Craven  I_026_01_OBS_RATE      76.39
21        Vance  I_026_01_OBS_RATE      70.35
22  New Hanover  I_026_01_OBS_RATE      35.55
23      Catawba  I_026_01_OBS_RATE         45
24         Nash  I_026_01_OBS_RATE      30.96
25       Durham  I_026_01_OBS_RATE      21.21

In [11]:
Provider_Data_24.head()

,CMS Certification Number (CCN),Provider Name,Address Line 1,Address Line 2,City/Town,State,ZIP Code,County/Parish,Telephone Number,CMS Region,Measure Code,Score,Footnote,Start Date,End Date,Measure Date Range
0,013025,ENCOMPASS HEALTH LAKESHORE REHABILITATION HOSP...,3800 RIDGEWAY DRIVE,-,BIRMINGHAM,AL,35209,Jefferson,(205) 868-2000,4,I_006_01_CI_LOWER,0.826,-,10/01/2022,09/30/2023,-
1,013025,ENCOMPASS HEALTH LAKESHORE REHABILITATION HOSP...,3800 RIDGEWAY DRIVE,-,BIRMINGHAM,AL,35209,Jefferson,(205) 868-2000,4,I_006_01_CI_UPPER,4.240,-,10/01/2022,09/30/2023,-
2,013025,ENCOMPASS HEALTH LAKESHORE REHABILITATION HOSP...,3800 RIDGEWAY DRIVE,-,BIRMINGHAM,AL,35209,Jefferson,(205) 868-2000,4,I_006_01_COMP_PERF,No Different than the National Benchmark,-,10/01/2022,09/30/2023,-
3,013025,ENCOMPASS HEALTH LAKESHORE REHABILITATION HOSP...,3800 RIDGEWAY DRIVE,-,BIRMINGHAM,AL,35209,Jefferson,(205) 868-2000,4,I_006_01_DOPC_DAYS,"2,725",-,10/01/2022,09/30/2023,-
4,013025,ENCOMPASS HEALTH LAKESHORE REHABILITATION HOSP...,3800 RIDGEWAY DRIVE,-,BIRMINGHAM,AL,35209,Jefferson,(205) 868-2000,4,I_006_01_ELIGCASES,2.943,-,10/01/2022,09/30/2023,-

In [12]:
DC_Function_24_NC=Provider_Data_24.loc[Provider_Data_24['State']=='NC']

In [13]:
DC_Function_24_NC=DC_Function_24_NC.loc[DC_Function_24_NC['Measure Code']=='I_026_01_OBS_RATE']

In [14]:
DC_Function_24_NC=DC_Function_24_NC[['County/Parish','Score']]
DC_Function_24_NC.head()

      County/Parish          Score
48483      Buncombe          67.71
48551   Mecklenburg          49.90
48619       Forsyth          79.86
48687      Guilford          66.86
48755      Scotland  Not Available

In [15]:
DC_Function_24_NC=DC_Function_24_NC.rename(columns={'County/Parish':'County','Score':'2024 Score'}).reset_index(drop=True)

In [16]:
rows_to_drop=[]

for index, row in DC_Function_24_NC.iterrows():
    if row['2024 Score']=='Not Available':
        rows_to_drop.append(index)

DC_Function_24_NC.drop(rows_to_drop, inplace=True)

In [17]:
DC_Function_24_NC

         County 2024 Score
0      Buncombe      67.71
1   Mecklenburg      49.90
2       Forsyth      79.86
3      Guilford      66.86
6         Rowan      44.54
7        Lenoir      34.04
8    Cumberland      39.35
9          Pitt      26.79
10      Forsyth      46.43
11  Mecklenburg      68.29
12       Orange      26.52
13         Wake      41.82
14     Guilford      45.49
16  Mecklenburg      54.40
18        Moore      62.98
19      Catawba      68.65
20       Craven      67.55
21        Vance      81.08
22  New Hanover      44.51
23      Catawba      67.14
24         Nash      44.74
25       Durham      32.76

In [18]:
Combined_DC_Function_Score_NC= pd.merge(DC_Function_24_NC, DC_Function_25_NC,
                                        on='County',
                                        how='inner')
Combined_DC_Function_Score_NC

         County 2024 Score       Measure Code 2025 Score
0      Buncombe      67.71  I_026_01_OBS_RATE      69.04
1   Mecklenburg      49.90  I_026_01_OBS_RATE      45.88
2   Mecklenburg      49.90  I_026_01_OBS_RATE      65.32
3   Mecklenburg      49.90  I_026_01_OBS_RATE      47.26
4       Forsyth      79.86  I_026_01_OBS_RATE      71.23
5       Forsyth      79.86  I_026_01_OBS_RATE      49.23
6      Guilford      66.86  I_026_01_OBS_RATE      54.37
7      Guilford      66.86  I_026_01_OBS_RATE      49.45
8         Rowan      44.54  I_026_01_OBS_RATE      39.09
9        Lenoir      34.04  I_026_01_OBS_RATE      39.46
10   Cumberland      39.35  I_026_01_OBS_RATE       31.8
11         Pitt      26.79  I_026_01_OBS_RATE      23.79
12      Forsyth      46.43  I_026_01_OBS_RATE      71.23
13      Forsyth      46.43  I_026_01_OBS_RATE      49.23
14  Mecklenburg      68.29  I_026_01_OBS_RATE      45.88
15  Mecklenburg      68.29  I_026_01_OBS_RATE      65.32
16  Mecklenburg      68.29  I_026_01_OBS_RATE      47.26
17       Orange      26.52  I_026_01_OBS_RATE       28.4
18         Wake      41.82  I_026_01_OBS_RATE      30.46
19     Guilford      45.49  I_026_01_OBS_RATE      54.37
20     Guilford      45.49  I_026_01_OBS_RATE      49.45
21  Mecklenburg      54.40  I_026_01_OBS_RATE      45.88
22  Mecklenburg      54.40  I_026_01_OBS_RATE      65.32
23  Mecklenburg      54.40  I_026_01_OBS_RATE      47.26
24        Moore      62.98  I_026_01_OBS_RATE      46.99
25      Catawba      68.65  I_026_01_OBS_RATE      58.46
26      Catawba      68.65  I_026_01_OBS_RATE         45
27       Craven      67.55  I_026_01_OBS_RATE      76.39
28        Vance      81.08  I_026_01_OBS_RATE      70.35
29  New Hanover      44.51  I_026_01_OBS_RATE      35.55
30      Catawba      67.14  I_026_01_OBS_RATE      58.46
31      Catawba      67.14  I_026_01_OBS_RATE         45
32         Nash      44.74  I_026_01_OBS_RATE      30.96
33       Durham      32.76  I_026_01_OBS_RATE      21.21

In [19]:
Combined_DC_Function_Score_NC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   County        34 non-null     object
 1   2024 Score    34 non-null     object
 2   Measure Code  34 non-null     object
 3   2025 Score    34 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB

In [20]:
Combined_DC_Function_Score_NC['2024 Score']=Combined_DC_Function_Score_NC['2024 Score'].astype(str).astype(float)

In [21]:
Combined_DC_Function_Score_NC['2025 Score']=Combined_DC_Function_Score_NC['2025 Score'].astype(str).astype(float)

In [22]:
Combined_DC_Function_Score_NC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   County        34 non-null     object
 1   2024 Score    34 non-null     float64
 2   Measure Code  34 non-null     object
 3   2025 Score    34 non-null     float64
dtypes: float64(2), object(2)
memory usage: 1.2+ KB

In [23]:
Combined_AVG_DC_Function_Score_NC=Combined_DC_Function_Score_NC.groupby('County').agg({'2024 Score':'mean',
                                                                                   '2025 Score':'mean'})

In [24]:
Combined_AVG_DC_Function_Score_NC

             2024 Score  2025 Score
County
Buncombe         67.710       69.04
Catawba          67.895       51.73
Craven           67.550       76.39
Cumberland       39.350       31.80
Durham           32.760       21.21
Forsyth          63.145       60.23
Guilford         56.175       51.91
Lenoir           34.040       39.46
Mecklenburg      57.530       52.82
Moore            62.980       46.99
Nash             44.740       30.96
New Hanover      44.510       35.55
Orange           26.520       28.40
Pitt             26.790       23.79
Rowan            44.540       39.09
Vance            81.080       70.35
Wake             41.820       30.46

In [25]:
Combined_AVG_DC_Function_Score_NC['Pct change']=((Combined_AVG_DC_Function_Score_NC['2025 Score']-Combined_AVG_DC_Function_Score_NC['2024 Score'])/(Combined_AVG_DC_Function_Score_NC['2024 Score'])) * 100
Combined_AVG_DC_Function_Score_NC

             2024 Score  2025 Score  Pct change
County
Buncombe         67.710       69.04    1.964259
Catawba          67.895       51.73  -23.808822
Craven           67.550       76.39   13.086603
Cumberland       39.350       31.80  -19.186785
Durham           32.760       21.21  -35.256410
Forsyth          63.145       60.23   -4.616359
Guilford         56.175       51.91   -7.592345
Lenoir           34.040       39.46   15.922444
Mecklenburg      57.530       52.82   -8.187033
Moore            62.980       46.99  -25.389012
Nash             44.740       30.96  -30.800179
New Hanover      44.510       35.55  -20.130308
Orange           26.520       28.40    7.088989
Pitt             26.790       23.79  -11.198208
Rowan            44.540       39.09  -12.236192
Vance            81.080       70.35  -13.233843
Wake             41.820       30.46  -27.164036

In [26]:
Combined_AVG_DC_Function_Score_NC=Combined_AVG_DC_Function_Score_NC.reset_index()
Combined_AVG_DC_Function_Score_NC

         County  2024 Score  2025 Score  Pct change
0      Buncombe      67.710       69.04    1.964259
1       Catawba      67.895       51.73  -23.808822
2        Craven      67.550       76.39   13.086603
3    Cumberland      39.350       31.80  -19.186785
4        Durham      32.760       21.21  -35.256410
5       Forsyth      63.145       60.23   -4.616359
6      Guilford      56.175       51.91   -7.592345
7        Lenoir      34.040       39.46   15.922444
8   Mecklenburg      57.530       52.82   -8.187033
9         Moore      62.980       46.99  -25.389012
10         Nash      44.740       30.96  -30.800179
11  New Hanover      44.510       35.55  -20.130308
12       Orange      26.520       28.40    7.088989
13         Pitt      26.790       23.79  -11.198208
14        Rowan      44.540       39.09  -12.236192
15        Vance      81.080       70.35  -13.233843
16         Wake      41.820       30.46  -27.164036

In [27]:
Combined_AVG_DC_Function_Score_NC.to_csv('Combined_AVG_DC_Function_Score_NC.csv', index=False)

Now pulling in national data:

In [28]:
National_data_25=pd.read_csv('../data/Inpatient_Rehabilitation_Facility_National_Data_Jun2025.csv')

In [29]:
National_data_25=National_data_25.loc[National_data_25['Measure Code']== 'I_026_01_NATL_OBS_RATE']

In [30]:
National_data_25=National_data_25[['CMS Certification Number (CCN)','Score']]

In [31]:
National_data_25=National_data_25.rename(columns={'Score':'2025 Score'})
National_data_25

   CMS Certification Number (CCN) 2025 Score
27                         NATION      56.86

#### Combining Regional and Ownership type with DC Function Score:

In [36]:
Region_Ownership_Type=pd.read_csv('../data/Region_Ownership_Type.csv')
Region_Ownership_Type

    Unnamed: 0 Ownership Type       County                  Region
0            0     For profit      Catawba  Western North Carolina
1            1     For profit      Forsyth  Central North Carolina
2            2     For profit        Vance  Central North Carolina
3            3     Government  Mecklenburg  Central North Carolina
4            4     Government       Craven  Eastern North Carolina
5            5     Government       Durham  Central North Carolina
6            6     Government         Nash  Eastern North Carolina
7            7     Government       Orange  Central North Carolina
8            8     Non-profit      Forsyth  Central North Carolina
9            9     Non-profit     Guilford  Central North Carolina
10          10     Non-profit     Buncombe  Western North Carolina
11          11     Non-profit      Catawba  Western North Carolina
12          12     Non-profit   Cumberland  Eastern North Carolina
13          13     Non-profit       Lenoir  Eastern North Carolina
14          14     Non-profit  Mecklenburg  Central North Carolina
15          15     Non-profit        Moore  Central North Carolina
16          16     Non-profit         Pitt  Eastern North Carolina
17          17     Non-profit        Rowan  Central North Carolina
18          18     Non-profit         Wake  Central North Carolina

In [37]:
Combined_AVG_DC_Function_Score_NC

         County  2024 Score  2025 Score  Pct change
0      Buncombe      67.710       69.04    1.964259
1       Catawba      67.895       51.73  -23.808822
2        Craven      67.550       76.39   13.086603
3    Cumberland      39.350       31.80  -19.186785
4        Durham      32.760       21.21  -35.256410
5       Forsyth      63.145       60.23   -4.616359
6      Guilford      56.175       51.91   -7.592345
7        Lenoir      34.040       39.46   15.922444
8   Mecklenburg      57.530       52.82   -8.187033
9         Moore      62.980       46.99  -25.389012
10         Nash      44.740       30.96  -30.800179
11  New Hanover      44.510       35.55  -20.130308
12       Orange      26.520       28.40    7.088989
13         Pitt      26.790       23.79  -11.198208
14        Rowan      44.540       39.09  -12.236192
15        Vance      81.080       70.35  -13.233843
16         Wake      41.820       30.46  -27.164036

In [45]:
DC_Function_Score_Region_Ownership=pd.merge(Region_Ownership_Type,Combined_AVG_DC_Function_Score_NC,
         on='County',
         how='inner')
DC_Function_Score_Region_Ownership

,Unnamed: 0,Ownership Type,County,Region,2024 Score,2025 Score,Pct change
0,0,For profit,Catawba,Western North Carolina,67.895,51.73,-23.808822
1,1,For profit,Forsyth,Central North Carolina,63.145,60.23,-4.616359
2,2,For profit,Vance,Central North Carolina,81.080,70.35,-13.233843
3,3,Government,Mecklenburg,Central North Carolina,57.530,52.82,-8.187033
4,4,Government,Craven,Eastern North Carolina,67.550,76.39,13.086603
5,5,Government,Durham,Central North Carolina,32.760,21.21,-35.256410
6,6,Government,Nash,Eastern North Carolina,44.740,30.96,-30.800179
7,7,Government,Orange,Central North Carolina,26.520,28.40,7.088989
8,8,Non-profit,Forsyth,Central North Carolina,63.145,60.23,-4.616359
9,9,Non-profit,Guilford,Central North Carolina,56.175,51.91,-7.592345
10,10,Non-profit,Buncombe,Western North Carolina,67.710,69.04,1.964259
11,11,Non-profit,Catawba,Western North Carolina,67.895,51.73,-23.808822
12,12,Non-profit,Cumberland,Eastern North Carolina,39.350,31.80,-19.186785
13,13,Non-profit,Lenoir,Eastern North Carolina,34.040,39.46,15.922444
14,14,Non-profit,Mecklenburg,Central North Carolina,57.530,52.82,-8.187033
15,15,Non-profit,Moore,Central North Carolina,62.980,46.99,-25.389012
16,16,Non-profit,Pitt,Eastern North Carolina,26.790,23.79,-11.198208
17,17,Non-profit,Rowan,Central North Carolina,44.540,39.09,-12.236192
18,18,Non-profit,Wake,Central North Carolina,41.820,30.46,-27.164036

In [46]:
DC_Function_Score_Region_Ownership=DC_Function_Score_Region_Ownership[['Ownership Type','County','Region','Pct change']]

In [47]:
DC_Function_Score_Region_Ownership=DC_Function_Score_Region_Ownership.drop_duplicates().rename(columns={'Pct change':'Pct change DC Function Score 25'})
DC_Function_Score_Region_Ownership

,Ownership Type,County,Region,Pct change DC Function Score 25
0,For profit,Catawba,Western North Carolina,-23.808822
1,For profit,Forsyth,Central North Carolina,-4.616359
2,For profit,Vance,Central North Carolina,-13.233843
3,Government,Mecklenburg,Central North Carolina,-8.187033
4,Government,Craven,Eastern North Carolina,13.086603
5,Government,Durham,Central North Carolina,-35.256410
6,Government,Nash,Eastern North Carolina,-30.800179
7,Government,Orange,Central North Carolina,7.088989
8,Non-profit,Forsyth,Central North Carolina,-4.616359
9,Non-profit,Guilford,Central North Carolina,-7.592345
10,Non-profit,Buncombe,Western North Carolina,1.964259
11,Non-profit,Catawba,Western North Carolina,-23.808822
12,Non-profit,Cumberland,Eastern North Carolina,-19.186785
13,Non-profit,Lenoir,Eastern North Carolina,15.922444
14,Non-profit,Mecklenburg,Central North Carolina,-8.187033
15,Non-profit,Moore,Central North Carolina,-25.389012
16,Non-profit,Pitt,Eastern North Carolina,-11.198208
17,Non-profit,Rowan,Central North Carolina,-12.236192
18,Non-profit,Wake,Central North Carolina,-27.164036

In [48]:
DC_Function_Score_Region_Ownership.to_csv('DC_Function_Score_Region_Ownership.csv')